<h1>パスワードのリセットについて</h1>

<p>下のリンクからパスワードをリセットしてください。</p>

<%= link_to "Reset password", edit_api_v1_password_resets_url(@user.reset_token, email: @user.email) %>

<p>このリンクは2時間をすぎると使えなくなります。</p>

<p>もしパスワードのリセットをした覚えがなければ、必ず無視してください。</p>
